.torneio-container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url(/arena-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.torneio-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.torneio-list {
    margin: auto;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}