.nav {
    display: flex;
    padding: 0.25rem 1rem;
}

.nav3 {
    background: linear-gradient(to right, rgb(134, 149, 194), rgb(53, 89, 181));
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    clip-path: inset(0 0 0 0);
}

.nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav3.active {
    background: rgb(227, 59, 137);
    font-weight: bold;
    clip-path: inset(5% 0 0 0);
}

/*RESPONSIVE*/
@media (max-width: 380px) {
    .nav {
        display: flex;
        padding: 0.25rem 1rem;
    }

    .nav-icons {
        font-size: 0.9rem;
    }
}